
@font-face {
  font-family: 'cooper';
  src: url('../static/fonts/CooperBlack.ttf')  format("truetype"),
       local('cooper');
}

@font-face {
    font-family: 'BentonSans';
    src: url('../static/fonts/BentonSansRegular.otf') format('opentype'), local('BentonSans');
}

@font-face {
    font-family: 'BentonSansBold';
    src: url('../static/fonts/BentonSansBold.otf') format('opentype'),local('BentonSansBold');
}


.main{
  height: 100%;
  padding-bottom: 40px;
  overflow: scroll;
  /*margin-right: 10%;*/

}

.hideThePies{
  position: absolute;
  z-index: -666;
  width: 80%;
  height: 40%;
  /*margin-left: 10%;*/
}

.hideThePies img{
  position: absolute;
  z-index: -666;
  opacity: .1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.hideThePies h1{
  position: relative;
  z-index: -666;
  opacity: .1;
  text-align: center;
  font-size: 45px;
  margin-top: 60px;
}

.aboutinfo {
  width: 50%;
  display: inline-block;
}



#snoochieBoochies h1{
  font-family: 'cooper';
  font-size: 60px;
  color: #508ef2;
  margin-left: 5%;
  margin-top: 5%;
  display: inline-block;
}

#snoochieBoochies h2{
  font-size: 30px;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-weight: 200;
  display: inline-block;
}


.headshot {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5%;
}

.pine {
  border-radius: 0px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5%;
}



#dangerZone{
  display: block;
  width: 100%;
  margin-bottom: 50px;  
  background: #fff;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */ */
  /* background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
}


#dangerZone h1{
  color: black;
  /*text-shadow: 0 0 20px #F77575, 10px -10px 30px #F77575, -20px -20px 40px #F77575, 20px -40px 50px #F77575, -20px -60px 60px #F77575, 0 -80px 70px #F77575, 10px -90px 80px #F77575;*/
  width: 90%;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 40px;
  padding-top: 60px;
  text-align: center;
}

#dangerZone h2{
  /*display: inline-block;*/

  color: #508ef2;
  width: 90.5%;
  line-height: 45px;
  font-weight: 200;
  text-align: left;
  margin: 0 auto;
  margin-top: 45px;

}


#whoAmI{
  display: block;
  width: 100%;
  background: white; /* fallback for old browsers */
  margin-bottom: 60px;

}

#whoAmI>.helloAll img{
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  color: #fff;
}

#whoAmI>.helloAll{
  width: 300px;
  padding-bottom: 60px;
  /*display: inline-block;*/
  margin: 0 auto;
}

#whoAmI h2{
  color: #000;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
}

#whoAmI h1{
  color: #000;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
}

.headerImage img {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  display: inline-block;
}

.posts_list .headerImage img {
  width: 100%;
  margin-left: 5%;
  display: inline-block;
  border-radius: 10px;
}

.posts_list .headerImage {
  width: 35%;
  display: inline-block;
}


.diamonddancing {
  margin-left: 37%;
}


#whoAmI a{
  color: #508ef2;
  text-decoration: none;
}

#whoAmI p{
  margin-left: 15%;
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;

 }

 #whoAmI button{
  margin-left: 15%;
  color: white;
  background-color: black;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 60%;
  font-size: 20px;
  /*position: relative;*/
  /*margin: 0 auto;*/
  border: 2px solid transparent;
  /*transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);*/
 }

/*gradients*/


#whoAmI label {
  vertical-align: top;
}

#snoochieBoochies{
  width: 100%;
  background: #fff;

}


#evilThoughts{
  display: block;
  /* margin-left: 200%; */
  /* margin-bottom: 200%; */
  width: 100%;
  height: 100%;
  background: #fff; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */ */
  /* background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
}

.kill2kill{
  padding-top: 5%;
}

#evilThoughts p{
  color: #fff;
  font-weight: 100;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 24px;
  margin-bottom: 30px;
}

#evilThoughts h1{
  font-size: 16px;
  font-weight: 20;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

#evilThoughts .posts_list h2{
  font-size: 35px;
  font-weight: 20;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  color: #4b7561;
  margin-left: 40px;
  padding: 10px;
}

#evilThoughts .posts_list h1{
  display: inline-block;
  font-size: 35px;
  margin-left: 40px;
  font-weight: 300;
  padding: 10px;
}

#evilThoughts .kill2kill .title{
  font-size: 35px;
  display: inline-block;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

#evilThoughts .kill2kill .body{
  color: #000;
  font-weight: 100;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 30px;
  line-height: 30px;
}

#evilThoughts .posts_list a{
  float: none;
  margin-right: 60px;
  padding: 40px;
}

#evilThoughts a{
  float: right;
  margin-right: 60px;
}


#evilThoughts .kill2kill p{
  color: #000;
  font-weight: 100;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 24px;
  margin-bottom: 30px;
}

#evilThoughts h2{
  font-size: 35px;
  display: inline-block;
  font-weight: 300;
}


#mustbeamusing{
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
  color:#000;
}

#anotherOne{
  display: block;
  z-index: 400;
  /* margin-left: 200%; */
  width: 100%;
  /*background:  #edc9af;  fallback for old browsers */
  background: white;
  margin-bottom: 10%;

}


/*cool purple color : #d3cce3; */

#navo{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

#anotherOne h1{
  display: inline-block;
  margin-left: 5%;
  width: 33%;
  font-size: 25px;
  font-weight: 100;
  color: black;
  /*margin-top: 40px;*/
}

#anotherOne h2{
    display: inline-block;
    width: 41%;
    /*height: 200px;*/
    margin-bottom: 30px;
/*  background-color: black;*/
    text-align: center;
    vertical-align: middle;
    /*color: white;*/
    /*padding-top: 45px;*/
    margin: 4%;
    border-radius: 25px;
    font-weight: 600;
    font-size: 25px;
}

#anotherOne h2 a{
  color: white;
  text-decoration: none;
}

#anotherOne p{
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

#navo{
  width: 78%;
  position: absolute;
  z-index: 666;
  /*margin-top: 40px;*/
}

#city{
  /*background-color: #8dc248;*/
}

#naturalist{
  /*background-color: black;*/
}

#mndaily{
  /*background-color: #CB3233;*/
  margin-top: 30px;
}

#alastaar{
}

#parlor{
  /*background-color: #ef3939;*/
}

#scheduler{
  /*background-color: #54B0CB;*/
}


#break{
    height: .5px;
    width: 70%;
    background-color: #bcbcbc;
    /*margin-bottom: 5px;*/
    /*display: inline-block !important;*/
    margin: 0 auto;
}

#wowthisisalotofclasses{
  margin-top: 90px;
}


#wowthisisalotofclasses h1{
    /* float: left; */
    display: inline-block;
    width: 100%;
    /* display: contents; */
    font-weight: 100;
    font-size: 25px;
    color: #508ef2;
    /* margin-left: 128px; */
/*    text-decoration: underline;
*/    /* margin-left: 15%; */
}

/*background for work */
/* #d3cce3 */

#wowthisisalotofclasses h3{
  color: black;
  font-weight: 200;
  margin-bottom: 15px;
  margin-top: 15px;
}

#work{
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

#projects{
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

#wips{
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}


/* ROTATING DIAMOND */


#diamond {
    /*-webkit-animation: rotateY 10s infinite linear;*/
    /*animation: rotateY 10s infinite linear;*/
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 308px and max-width: 768px) {

  .posts_list .headerImage {
    width: 100%;
  }

  .posts_list .headerImage img {
    margin-left: 0px;
    width: 90%;
    margin: 0 auto;
  }


  .headshot {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 50px;
  }

  .pine {
    width: 100%;
    /* margin-left: 5%; */
    margin-top: 5%;
    border-radius: 0
  }

  .aboutinfo{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }

    #dangerZone {
    height: auto;

  }

}
@media (min-width: 768px and max-width: 992px) {
  .main {
    width: 100%;
    margin-left: 0%;
  }
  #evilThoughts .posts_list h2 {
    text-align: center;
    width: 90%;
    font-size: 60px;
    margin-left: 0;
    margin-top: 20px;
  }

  .headshot {
    width: 20%;
    margin-top: 5%;
  }

  .posts_list .headerImage {
    width: 100%;
  }

  .posts_list .headerImage img {
    margin-left: 0px;
    width: 90%;
    margin: 0 auto;
  }

  #snoochieBoochies {
    height: auto;
    /*padding-bottom: 10%;*/
  }

  .aboutinfo{
    width: 60%;
    margin: 0 auto;
  }

  #dangerZone h2 {
    font-size:30px;
  }

  #dangerZone {
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;

  }

  #whoAmI {
    height: auto;
  }

  #wowthisisalotofclasses h3 {
      font-size: 35px;
  }

  #anotherOne p {
    font-size: 25px;
  }

  #anotherOne {
    height: auto;
    margin-bottom: 0%;
  }

  .pine {
    width: 100%;
    /* margin-left: 5%; */
    margin-top: 5%;
    border-radius: 0
  }


 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px and max-width: 1200px) {
  .main {
    width: 100%;
    margin-left: 0%;
  }



  .headshot {
    width: 20%;
    margin-top: 5%;
  }

  .pine {
    width: 100%;
    /* margin-left: 5%; */
    margin-top: 5%;
    border-radius: 0
  }


  #snoochieBoochies {
    height: auto;
    /*padding-bottom: 10%;*/
  }

  .aboutinfo{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
  }

  #dangerZone h2 {
    font-size: 20px;
  }

  #dangerZone {
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;

  }

  #whoAmI {
    height: auto;
  }

  #wowthisisalotofclasses h3 {
      font-size: 35px;
  }

  #anotherOne p {
    font-size: 25px;
  }

  #anotherOne {
    height: auto;
    margin-bottom: 0%;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    width: 80%;
    margin-left: 10%;
  }

  .headshot {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .pine {
    margin-top: 5%;
  }

  #snoochieBoochies {
    height: auto;
    /*padding-bottom: 10%;*/
  }

  .aboutinfo{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
  }

  #dangerZone h2 {
    font-size: 20px;
  }

  #dangerZone {
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;

  }

  #whoAmI {
    height: auto;
  }

  #wowthisisalotofclasses h3 {
      font-size: 25px;
  }

  #anotherOne p {
    font-size: 15px;
  }

  #anotherOne {
    height: auto;
    margin-bottom: 0%;
  }
 }

/* button maybe */
