@font-face {
  font-family: 'cooper';
  src: url('/static/fonts/CooperBlack.ttf')  format("truetype"),
       local('cooper');
}

@font-face {
    font-family: 'BentonSans';
    src: url('/static/fonts/BentonSansRegular.otf') format('opentype'), local('BentonSans');
}

@font-face {
    font-family: 'BentonSansBold';
    src: url('/static/fonts/BentonSansBold.otf') format('opentype'),local('BentonSansBold');
}

h1 a {
    color: #FCA205;
}


body {
    background-color: white !important;
    overflow: hidden;
    font-family: 'BentonSans';


}
.page-header {
    background-color: #fff;
    margin:0;
    padding:0;
    width:100%;
    margin-top: 0;
    padding-left:40px;
    overflow: hidden;
}




.topitty{
    display: inline-block;
}

.page-header h2{
    display: inline-block;
    font-size: 36pt;
    color: white;
}

.menu{
    /*display: inline-block;*/
    /*color: white;*/
}

.page-header li{
    /*color: white;*/
    /*display: inline-block;*/
}

.page-header ul{
    color: white;
    display: inline-block;
    padding: 0;
    margin-right: 25px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post h2 {
    font-size: 40px;
    color: #42f4b9;
}

.headline {
    font-family: 'cooper';
    float: right;
    display: inline-block;
    margin-right: 40px;
    height: 20%;
}

.headline h1{
    font-size: 18px;

}


.description{
  font-family: 'cooper';
    width: 70%;
    display: inline-block;
    height: 20%;
    /*vertical-align: middle;*/
    /*line-height: 100%;*/
}


@media (min-width: 368px and max-width: 768px) {

  .description h2 {
    font-size: 18px !important;
  }


}

@media (min-width: 768px and max-width: 992px) {
  .description h2 {
    font-size: 30px !important;
    top: 50% !important;
  }

  .headline h1{
    font-size: 30px;
    top: 50% !important;
  }
}

@media (min-width: 992px and max-width: 1200px) {

  .description h2 {
    font-size: 18px !important;
    top: 50% !important;
  }

.headline h1{
    font-size: 18px;
    top: 50% !important;
  }

}

@media (min-width: 1200px) {

  .description h2 {
    font-size: 15px !important;
    top: 50% !important;
  }

.headline h1{
    font-size: 15px;
    top: 50% !important;
  }

}

.headline h1{
    color: #000000;
    font-size: 25px;
    color: #eb4034;
    display: inline-block;
    /*vertical-align: middle;*/
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.description h2{
    color: #000000;
    font-size: 12px;
    display: inline-block;
    /*vertical-align: middle;*/
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.description h3{
    color: #000000;
    font-size: 12px;
    display: inline-block;
    /*vertical-align: middle;*/
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.social{
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    /*padding-top: 40px;*/
    background-color: white;
    float: left;
    width: 100%;
    text-align: center;
    height: 10%;
}


.social h3 {
    /*vertical-align: middle;*/
    display: inline-block;
    color: black;
    margin-right: 25px;
    font-weight: 100;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*writing-mode: tb-rl;*/
    /* text-align: center; */
}

.social h3 a{
    color: black;
    vertical-align: middle;
    font-weight: 100;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.external{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    /*height: 100%;*/
    width: 10%;
    margin-top: 10vh;

}

.external h3{
    /* vertical-align: middle; */
    /* width: auto; */
    writing-mode: tb-rl;
    display: inline-block;
    color: black;
    padding: 0;
    margin-right: 0;
    margin-left: 40%;
    text-align: center;
    margin-bottom: 10vh;
    /*margin-top: 10vh;*/
    font-weight: 100;
    text-decoration: none;
}

.active {
    color: transparent;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.hello{
    color: transparent;
    padding-left: 2px;
    border-left: 1px solid black;
}
