{% load staticfiles %}
<html>
    <head>
        <title>Alistair</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119899630-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119899630-1');
        </script>

    </head>
    <body>
        <div class="page-header">
            <!--{% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}-->
            <a href="/">
                <div class="description">
                    <h2>Contract Developer</h2>
                    <h3>&#9862;</h3>
                    <h2>based in Los Angeles</h2>
                </div>
            </a>
            <a href="/posts">
                <div class="headline">
                    <h1>blog</h1>
                </div>
            </a>
    <!--             <div class="social">
                <h3 id="butt" class="active">HOME</h3>
                <h3 id="zeeZee">ABOUT</h3>
                <h3 id="christianDior">CONTACT</h3>

            </div> -->
            <div class="external">
                <!-- <h3><a href="https://www.linkedin.com/in/alistair-mccormick-18116399/" target="_blank">linkedin</a></h3> -->
<!--                 <h3 id="topTop">MUSINGS</h3>
                <h3 id="resume">WORK</h3> -->
            </div>


        </div>

             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
            $(function(){
                var $h3s = $('#butt,#zeeZee,#topTop,#christianDior,#resume').click(function(){
                    $h3s.removeClass('hello');
                    $h3s.removeClass('active');
                    $(this).addClass('active');
                });

                var $resume = $('#resume,#topTop').click(function(){
                    $resume.removeClass('active');
                    $resume.removeClass('hello');
                    $(this).addClass('hello');
                });
            });


            </script>
       
    {% block content %}
    {% endblock %}
    </body>
</html>