{% extends 'screen/dashboard.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="text/javascript" href="{% static 'js/home.js' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="main">
	<!-- <div class="table"> -->
	<div id="snoochieBoochies">
		<div class="aboutinfo">
			<h1>Hello! I am Alistair.</h1>
			<h2> I am a contract web developer in Los Angeles, CA. I work across the entire stack from design to launch to reach the projects goals. </h2>
		</div>
		<img id="diamond" class="headshot" src="{% static 'images/headshot.jpg' %}">
	</div>
	<div id="dangerZone">
		<h2>I dig flow over flashiness, and use my tools to create the most secure, reliable and friendly site possible. The belief that credibility is the best marketing online is what inspires me to build great sites. I hope to work with you to create a honest and communicative site for your mission.</h2>
	</div>
	<!-- <div id="evilThoughts">
    	<h3 id="mustbeamusing"> Musings </h3>
	    {% for post in posts %}
	    	<div class="kill2kill">
		     	<h1>&#x273F;</h1><h2>{{ post.title }}</h2>
            	<p>{{ post.body|linebreaksbr }}</p> -->
            	<!-- <div class="break"></div> -->
        	<!-- </div>
        	<div id="break"></div>
	    {% endfor %}
	</div> -->
	<img id="diamond" class="pine" src="{% static 'images/pine.jpg' %}">
	<div id="anotherOne">
		<div id="wowthisisalotofclasses">
			<div id="work">
				<h1>SELECT WORK</h1></br>

				<h2 id="naturalist"><a href="https://lamfg.us">
				<h3>LA mfg.</h3>
				</a></h2>

				<h2 id="naturalist"><a href="https://nhmlac.org/">
				<h3>NHMLAC Redesign</h3>
				</a></h2>

				<h2 id="city"><a href="https://heered.com">
				<h3>Heered</h3>
				<!-- <div id="break"></div> -->
				</a></h2>

				<h2 id="mndaily"><a href="http://mndaily.com">
				<h3>The Minnesota Daily</h3>
				<!-- <div id="break"></div> -->
				</a></h2>
			<!-- <div id="break"></div> -->

			<!-- <div id="break"></div> -->
<!-- 				<h2 id="alastaar"><a href="http://alastaar.pythonanywhere.com">
				<div class="thumbnail-container">
					<div class="thumbnail">
					  <iframe src="http://alastaar.pythonanywhere.com" frameborder="0" onload="this.style.opacity = 1"></iframe>
					</div>
				</div>
				<p>App to display schedule of events for many of our problic programs. Also has a scheduler. Built from scratch with Django. Currently undergoing a redesign</p>
				</a></h2> -->
				<h2 id="alastaar"><a href="http://nhmscreens.com"><h3>Django Screen App<h3></a></h2>
				<h2 id="palazar"><a href="http://palazar.com"><h3>Palazar React App</h3></a></h2>
			<!-- <div id="break"></div> -->
			</div>
		</div>
		<!-- <img src="{% static 'images/citynaturechallenge.jpeg' %}" alt="img"> -->
	</div>
		<div id="whoAmI">
		<h2> Get in contact <br><br><a href="mailto:alistairmmccormick@gmail.com">alistairmmccormick@gmail.com</a> </h2>
		<!-- <img id="diamond" class="diamonddancing" src="{% static 'images/diamond.png' %}"> -->
<!-- 		<form method="post" class="contact-form">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <div class="form-actions">
		      <button type="submit" class="btn3">Send</button>
		    </div>
		</form> -->
		<div class="helloAll">
			<!-- <a href="mailto:alistm12@gmail.com?Subject=Hello%20there"><img id="icon" src="{% static 'images/icons/emailIcon.svg' %}"></a> -->
			<!-- <h2>alistm12 [at] gmail [dot] com</h2> -->
		</div>

	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$('#butt').click(function () {
	$('#snoochieBoochies').fadeIn(2500);
	$('#dangerZone').hide();
	$('#whoAmI').hide();
	$('#evilThoughts').hide();
	$('#anotherOne').hide();
	$('#anotherOne').css('margin-left', '2500');
	$('#evilThoughts').css({'margin-left':'2500','margin-bottom':'2500'});
});
$('#zeeZee').click(function () {
	$('#dangerZone').fadeIn(2500);
	$('#snoochieBoochies').hide();
	$('#whoAmI').hide();
	$('#evilThoughts').hide();
	$('#anotherOne').css('margin-left', '2500');
	$('#evilThoughts').css({'margin-left':'2500','margin-bottom':'2500'});
});

$('#topTop').click(function () {
	$('#evilThoughts').show();
	$('#evilThoughts').animate({'marginLeft':0,'marginBottom':0}, 1000);
	$('#anotherOne').css('margin-left', '2500');
	$('#snoochieBoochies').hide();
	$('#dangerZone').hide();
	$('#whoAmI').hide();
	$('#anotherOne').hide();
});

$('#christianDior').click(function () {
	$('#whoAmI').fadeIn(2500);
	$('#snoochieBoochies').hide();
	$('#dangerZone').hide();
	$('#evilThoughts').hide();
	$('#anotherOne').hide();
	$('#anotherOne').css('margin-left', '2500');
	$('#evilThoughts').css({'margin-left':'2500','margin-bottom':'2500'});
});

$('#resume').click(function () {
	$('#anotherOne').show();
	$('#anotherOne').animate({'marginLeft':0}, 1000);
	$('#whoAmI').hide();
	$('#snoochieBoochies').hide();
	$('#dangerZone').hide();
	$('#evilThoughts').hide();
	$('#evilThoughts').css({'margin-left':'2500','margin-bottom':'2500'});
});


</script>


{% endblock %}
