{% extends 'screen/dashboard.html' %}

{% block content %}
<div class="main">
    <h1>New post</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
 </div>
{% endblock %}