{% extends 'screen/dashboard.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="text/javascript" href="{% static 'js/home.js' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="main">
	<!-- <div class="table"> -->
	<div id="evilThoughts" style="margin-bottom: 200px;">
    	<h3 id="mustbeamusing">Blog</h3>
	    {% for post in posts %}
	    	<div class="posts_list" style="margin-bottom: 40px;">
		     	<a href="{% url 'post_detail' pk=post.pk %}">		     	
		     		{% if post.headerPhoto %}
				     	<div class="headerImage">
		                	<img src="{{ post.headerPhoto.url }}">
		              	</div>
	              	{% endif %}
              	<h2>{{ post.title }}</h2></a>
            	<div class="break"></div>
        	</div>
	    {% endfor %}
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



{% endblock %}
