{% extends 'screen/dashboard.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="text/javascript" href="{% static 'js/home.js' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="main">
	<div class="hideThePies">
		<h1>ALISTAIR J MCCORMICK</h1>
	</div>
	<!-- <div class="table"> -->
	<div id="evilThoughts">
			<a href="/posts">Back to posts</a>
	    	<div class="kill2kill" style="margin-bottom: 200px;">
		     	<h1 class="title">{{ post.title }}</h1>
		     	{% if post.headerPhoto %}
			     	<div class="headerImage">
	                	<img src="{{ post.headerPhoto.url }}">
	              	</div>
              	{% endif %}
		     	<p class="body" style="margin-bottom: 40px;">{{ post.body|linebreaksbr }}</p>
            	<div class="break"></div>
        	</div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



{% endblock %}