@font-face{
  	font-family:'kievit';
    src: url('../fonts/KievitOT-Regular.eot');
    src: url('../fonts/KievitOT-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KievitOT-Regular.ttf') format('truetype'),
         url('../fonts/KievitOT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  	font-family:'kievit-bold';
    src: url('../fonts/KievitOT-ExtraBold_gdi.eot');
    src: url('../fonts/KievitOT-ExtraBold_gdi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KievitOT-ExtraBold_gdi.ttf') format('truetype'),
         url('../fonts/KievitOT-ExtraBold_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.closed{
	position: absolute;
	top: 350;
	color: #d9d954;
	left: 300;
	font-size: 45px;
}

img{
	width:100%;
}

.edit{
	position: absolute;
	top: 0;
}


.dateTime{
	position: absolute;
	top: 450;
	color: #ffffff;
	left: 300;
}

.post h1{
	font-family: 'kievit-bold';
	position: absolute;
	top: 120;
	font-size: 140px !important;
	color: #d9d954;
	left: 300;
}

.post h4{
	font-family: 'kievit-bold';
	position: absolute;
	top: 260;
	font-size: 140px !important;
	color: #ffffff;
	left: 300;
}


.dateTime h2{
	font-family: 'kievit-bold';
	font-size: 30px !important;
	color: #d9d954;
}

.dateTime h3{
	font-family: 'kievit';
	font-size: 30px !important;
	color: #ffffff;
}

#hall{
	font-family: 'kievit-bold';
	font-size: 20px !important;
	color: #d9d954;
	position: absolute;
	top: 3100;
	left: 300;
}

#level{
	font-family: 'kievit';
	font-size: 20px !important;
	color: #d9d954;
	position: absolute;
	top: 3140;
	left: 300;
}
