@font-face{
  	font-family:'kievit';
    src: url('../fonts/KievitOT-Regular.eot');
    src: url('../fonts/KievitOT-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KievitOT-Regular.ttf') format('truetype'),
         url('../fonts/KievitOT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  	font-family:'kievit-bold';
    src: url('../fonts/KievitOT-ExtraBold_gdi.eot');
    src: url('../fonts/KievitOT-ExtraBold_gdi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KievitOT-ExtraBold_gdi.ttf') format('truetype'),
         url('../fonts/KievitOT-ExtraBold_gdi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
	margin:0;
	padding:0; 
	height:100%; 
	width:100%; 
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.main{
	width: 100%;
	height: 100%;
}

.who{
}

.who h1 {
	font-size: 80px;
    position: absolute;
    /* margin: auto; */
    color: white;
    text-align: center;
    margin-left: 470px;
    margin-top: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.description{
	margin-top: 20px;
	width: 20px;
}

.description h2{
	color: white;
	font-size: 12px;
	writing-mode: tb-rl; 
	height: auto;
	margin: 0;
    width: 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.description h3{
	color: white;
	font-size: 12px;
	writing-mode: tb-rl; 
	text-align: center;
	height: 25px;
	margin: 0;
    width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.social{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 7%;
	padding-top: 40px;
	background-color: #232323;
}

.social h3{
	display: inline-block;
	color: white;
	writing-mode: tb-rl;
	margin-bottom: 40px;
}



.move{
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
